:root {
  /* Text */
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-700);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-muted: var(--color-neutral-500);

  --color-text-placeholder: var(--color-neutral-400);
  --color-text-disabled: var(--color-neutral-400);
  --color-text-inverse: var(--color-neutral-0);

  /* Icon */
  --color-icon-primary: var(--color-neutral-700);
  --color-icon-secondary: var(--color-neutral-500);
  --color-icon-muted: var(--color-neutral-400);
}

/* DARK */
:root.dark {
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-800);
  --color-text-tertiary: var(--color-neutral-700);
  --color-text-muted: var(--color-neutral-600);

  --color-text-placeholder: var(--color-neutral-600);
  --color-text-disabled: var(--color-neutral-600);
  --color-text-inverse: var(--color-neutral-0);

  --color-icon-primary: var(--color-neutral-800);
  --color-icon-secondary: var(--color-neutral-700);
  --color-icon-muted: var(--color-neutral-600);
}
