:root {
  /* Page & surface */
  --color-bg-page: var(--color-neutral-50);
  --color-bg-header: var(--color-neutral-100);
  --color-bg-surface: var(--color-neutral-100);
  --color-bg-card: var(--color-neutral-0);
  --color-bg-elevated: var(--color-neutral-100);
  --color-bg-muted: var(--color-neutral-200);

  /* Surface states */
  --color-bg-surface-hover: var(--color-neutral-100);
  --color-bg-surface-active: var(--color-neutral-200);
  --color-surface-selection: var(--color-neutral-800);

  /* Borders */
  --color-border-subtle: var(--color-neutral-200);
  --color-border-default: var(--color-neutral-300);
  --color-border-strong: var(--color-neutral-400);
  --color-border-focus: var(--color-brand-primary);
  --color-border-disabled: var(--color-neutral-200);

  /* Overlay */
  --color-overlay-light: rgba(0, 0, 0, 0.04);
  --color-overlay-medium: rgba(0, 0, 0, 0.12);
  --color-overlay-heavy: rgba(0, 0, 0, 0.32);
}

/* DARK */
:root.dark {
  --color-bg-page: var(--color-neutral-50);
  --color-bg-header: var(--color-neutral-100);
  --color-bg-surface: var(--color-neutral-100);
  --color-bg-card: var(--color-neutral-0);
  --color-bg-elevated: var(--color-neutral-100);
  --color-bg-muted: var(--color-neutral-200);

  --color-bg-surface-hover: var(--color-neutral-200);
  --color-bg-surface-active: var(--color-neutral-300);
  --color-surface-selection: var(--color-neutral-200);

  --color-border-subtle: var(--color-neutral-200);
  --color-border-default: var(--color-neutral-300);
  --color-border-strong: var(--color-neutral-400);
  --color-border-focus: var(--color-brand-primary);
  --color-border-disabled: var(--color-neutral-200);

  --color-overlay-light: rgba(0, 0, 0, 0.2);
  --color-overlay-medium: rgba(0, 0, 0, 0.4);
  --color-overlay-heavy: rgba(0, 0, 0, 0.6);
}
