.input-base {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  color: #000;
  background: #fff;
  border-color: var(--color-input-border);
}

.input-base:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-input-border-focus);
}

.input-field {
  flex: 1 1 0%;
  background: transparent;
  outline: none;
  overflow: hidden;
}

/* Input element */
.input-field {
  flex: 1 1 0%;
  background: transparent;
  outline: none;
  overflow: hidden;
}

.input-field::placeholder {
  color: var(--color-input-placeholder);
}
