.select-label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
}

.select-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-input-border);
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  padding-left: 0.1rem;
  padding-right: 0.5rem;
}

.select-wrapper:focus-within {
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.3); /* ring-indigo-500 */
}

.select-wrapper.select-error {
  border-color: #ef4444; /* red-500 */
}

.select-field {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  color: #000;
}

.select-field:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.select-icon-left {
  margin-right: 0.5rem;
  /* color: var(--color-select-placeholder); */
}

.select-icon-right {
  margin-left: 0.5rem;
  /* color: var(--color-select-placeholder); */
}

.select-error-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #ef4444; /* red-500 */
}

.select-helper-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #6b7280; /* gray-500 */
}
